// Colors
$darkPurple: hsl(273, 85%, 13%);
$mintGreen: hsl(150, 100%, 63%);
$lavenderGray: hsl(271, 12%, 34%);
$lavenderWhite: hsl(274, 100%, 99%);
$white: hsl(0, 0%, 100%);

// Fonts
$fraunces: "Fraunces", serif;
$manrope: "Manrope", sans-serif;
